@import "tailwindcss";
@import "../styles/shared/images.css";

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-VariableFont_wght.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-main: #292928;
}

* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
  background-color: #f1f1f1;
}

img{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ya-pointer-events: none;
}

.click-effect-block{
  transition: transform .2s;
  transform: scale(1);
}

.click-effect-block:active{
  transform: scale(.95);
}